HELP.md
**/target/
**/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA (QUAN TRỌNG - PHẢI CÓ DẤU CHẤM)
**/.idea/
*.iws
*.iml
*.ipr

# VS Code
**/.vscode/

# Các file rác hệ thống
bin/
**/.classpath
**/.project
**/.settings/
.DS_Store

#file cá nhân
Note/